.App {
	min-height: 100vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #313236;
	color: white;
}

input {
	width: 190px;
	height: 20px;
}
